// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fixed-panel {
	min-height: 50px;
	max-height: 300px;
	margin-left: 30px;
	margin-right: 30px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;

	&::-webkit-scrollbar {
		width: 0 !important;
	}

	p {
		background-color: white;
		min-height: 50px;
		margin-bottom: 0;
		margin-top:-15px;
		margin-bottom:-15px;
		border-top: 4px solid green;
	}
}



.panel-heading, .panel-footer{
	background-color: #f7f7f7 !important;
	border-color: #f7f7f7 !important;
}

.panel-footer {
	padding-bottom: 20px;
}


.new-task {
	height: 130px;

	a i {

		margin-top: 30px;
	}

}

.panel-body {
  img {
    width: 100%;
  }
}

.background-grey {
	background-color: #f7f7f7;
	position: relative;
	a {
		position: absolute;
	    top: 50%;
	    left: 10px;
	    transform: translateY(-50%);

	}
	    .center-arrow-right {
	    	margin-left: 88%;
    }
}



#tasks_to_do h1 {
	color: #f90d56;
}
#tasks_doing h1 {
	color: #ff970c;
}
#tasks_done h1 {
	color: #ffe801;
}
